@import url(/styles/global.css);

header .container{
    margin-bottom: 1.6rem;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 1.6rem;
}

.logo img{
    height: 4rem;
}

.logo p{
    font:var(--logo);
}

.title img{
    height: 1.5rem;

    margin-bottom: 1.6rem;
}

.title h1{
    font: var(--logo)
}

/*-------------Lista---------*/

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#input-item{
    height: 4.4rem;

    padding: 0 2rem;
    border-radius: 1rem;
    border-color: var(--border-primary);

    font: var(--input);
}

#input-item::placeholder{
    background-color: var(--background-secondary);
    font: var(--label);
    
}

#add-btn{
    height: 4.4rem;
    border-radius: 1rem;
    border-color: var(--border-primary);

    font: var(--label);
    color: var(--always-white);
    background-color: var(--color-brand);
}