@import url(/styles/global.css);

header .container{
    margin-bottom: 1.6rem;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 1.6rem;
}

.logo img{
    height: 4rem;
}

.logo p{
    font:var(--logo);
}

.title img{
    height: 1.5rem;

    margin-bottom: 1.6rem;
}

.title h1{
    font: var(--logo)
}

/*-------------Lista---------*/

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#input-item{
    height: 4.4rem;

    padding: 0 2rem;
    border-radius: 1rem;
    border-color: var(--border-primary);

    font: var(--label);
}

#input-item::placeholder{
    background-color: var(--background-secondary);
    font: var(--label);
    
}

#add-btn{
    height: 4.4rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border-color: var(--border-primary);

    font: var(--label);
    color: var(--always-white);
    background-color: var(--color-brand);
}

#add-btn:hover{
    background-color: var(--color-brand-hover);
    transition: 0.5s;
    cursor: pointer;
}

.list-itens{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-bottom: 2rem;
}

.list-itens li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4.4rem;
    padding: 0 2rem;

    font: var(--label);
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
    border-radius: 1rem;
}

input[type="checkbox"] {
    accent-color: var(--color-brand);
    cursor: pointer; /* Mãozinha ao passar o mouse */
    width: 1.5rem; 
    height: 1.5rem;
}

.info-tarefa{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.list-itens .done {
    border: 3px solid var(--color-brand);

    font-style: italic;
    text-decoration: line-through;
}

.button-delete{
    background-color: transparent;
    width: 2rem;

    border: none;
}

.alert-text {
    /* Layout base (mantive o seu) */
    display: none; 
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 4.4rem;
    background-color: var(--color-danger);
    border: 1px solid var(--border-primary);
    border-radius: 1rem;
    font: var(--label);
    color: var(--always-white);

    /* --- A MÁGICA DA ANIMAÇÃO --- */
    opacity: 0; /* Começa transparente */
    transform: translateY(20px); /* Começa um pouco mais para baixo */
    transition: opacity 0.5s, transform 0.5s; /* O tempo da suavidade */
}

/* Essa classe será adicionada pelo JS para mostrar o alerta */
.alert-text.alert-open {
    opacity: 1; /* Fica totalmente visível */
    transform: translateY(0); /* Sobe para a posição original */
}

.alert-text .button-delete img{
    filter: brightness(0) invert(1);
}